body {
  min-height: 100vh;
}

main {
  overflow:auto;
  padding-bottom: 50px; /* this needs to be bigger than footer height*/
  min-height: 75vh;
}

.navbar {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
  padding: 0.5rem 0;
}

.icon {
  height: 50px;
  width: auto;
  border-radius: 50%;
}

.npm, .mern {
  border-radius: 0%;
}

.wrapper {
  position: flex;
  justify-content: space-between;
}

@media (min-width: 576px) {
  .icon {
    height: 60px;
  }
}

@media (min-width: 768px) {
  .icon {
    height: 70px;
  }
}

@media (min-width: 992px) {
  .icon {
    height: 80px;
  }
}

@media (min-width: 1920px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl, .container-3xl {
    max-width: 1800px;
  }

  .col-3xl-6 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
  }

  .col-3xl-12 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
  }

  .h-3xl-700 {
    height: 700px;
  }

  .icon {
    height: 90px;
  }
}

@media (min-width: 2440px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl, .container-3xl, .container-4xl {
    max-width: 2300px;
  }

  .col-4xl-6 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
  }

  footer {
    margin-top: -50px;
  }
}